
*.rb linguist-language=Java

# Replace any whitespace in the language name with hyphens:
*.glyphs linguist-language=OpenStep-Property-List
$ cat .gitattributes
special-vendored-path/* linguist-vendored
jquery.js linguist-vendored=false